.div{
    background-color: wheat;
    margin: 10px;
    text-align: center;
}
.icon{
    text-align: right;
}
.button{
    text-align: left;
}
.img{
    text-align: right;
}
.total{
    text-align: center;
}

